/* index.tsxのスタイル (ブログ投稿一覧グリッド) */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}

/* SinglePost.tsxのスタイル (個別の投稿カード) */
.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.post-card:hover {
  background-color: #eee;
}

.card-content {
  cursor: pointer;
}

.icon-container {
  text-align: center;
}

.post-icon {
  max-width: 50px;
  max-height: 50px;
}

.post-title {
  font-size: 2.0rem;
  margin-top: 10px;
}

.post-date {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.post-tag {
  margin-right: 10px;
  background: #ddd;
  padding: 5px;
  border-radius: 5px;
}

.post-description {
  font-size: 1.4rem;
  margin-top: 10px;
}

/* [slug].tsxのスタイル (個別の投稿ページ) */
.post-section {
  background: #eee;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  font-size: 1rem;
}

.post-header {
  margin-bottom: 20px;
}

.post-icon {
  display: block;
  max-width: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-title-text {
  font-size: 2.0rem;
}


.post-date {
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  background: #17a557;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.code-block-container {
  position: relative;
  margin-bottom: 20px;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background: #0056b3;
}

.back-to-home {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}

.back-to-home:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .post-section {
    margin: 10px;
    padding: 10px;
  }

  .post-title-text {
    font-size: 1.4rem;
  }

  .post-description {
    font-size: 1rem;
  }
}


/* ページネーションのcss */
.pagination-section {
  text-align: center;
  margin-top: 20px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  margin: 0 5px;
}

.pagination-link {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #007bff;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #0056b3;
  color: #fff;
}
